<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Games</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/UniformStyle.css">
</head>
<body>
<div class="container">
  <div class="button-group">
  <button type="button" class="btn" onclick="window.location='home.html'">Home</button>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title text-center">All Games</h2>
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Release Date</th>
        <th>Genres</th>
        <th>Average Score</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="game : ${games}">
        <td th:text="${game.title}"></td>
        <td th:text="${game.description}"></td>
        <td th:text="${game.releaseDate}"></td>
        <td>
          <span th:each="genre : ${game.genres}" th:text="${genre.genreName} + ', '"></span>
        </td>
        <td th:text="${game.averageScore}"></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>